.list-group-item {
    cursor:pointer;
    display: flex;
    justify-content:space-between;
    padding: 10px 40px 10px 40px;
}

.list-group-item span{
    color:rgb(148, 141, 133);
}

.list-group-item:hover{
    background-color: rgb(250, 247, 242);
}